{% extends 'home/index.html.twig' %}

{% block content %}
    <div class="container w-75 border border-danger rounded shadow bg-white mt-3">
        <div class="border border-danger rounded mt-3 p-2">
            <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
            <p>{{ profile.userCat }}</p>
        </div>
        <div class="border border-danger rounded mt-3 p-2">
            <h4>My address</h4>
            <p>{{ profile.address }}</p>
            <p>{{ profile.zipcode }} {{ profile.city }}</p>
        </div>
        <div class="border border-danger rounded mt-3 p-2">
            <h4>Contact</h4>
            <p>{{ profile.email }} - {{ profile.phone }}</p>

        </div>
        {% if (profile.available) %}
            <p class="text-success mt-3">Currently available</p>
        {% else %}
            <p class="text-warning mt-3">Not available at the moment</p>
        {% endif %}
        <div class="border border-danger rounded my-3 p-2">
            {% for skill in profile.skills %}
                <h4>Skills</h4>
                <div>
                    <p>{{ skill.name }}- {{ skill.skillCat }}</p>
                    {% if (skill.liked) %}
                        <i class="bi bi-heart"></i>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
