{% extends 'base.html.twig' %}
{% form_theme form_profile 'bootstrap_4_layout.html.twig' %}
{% block title %}New profile{% endblock %}
{% block content %}
    <div class="container text-center w-75">
        <h2 class="p-4 m-4 bg-white border border-info rounded shadow">Please, complete your profile</h2>
        <button class="btn btn-info col-4 mb-3 shadow" href="{{ path('home') }}">I'll do it later</button>
        <div class="rounded border border-warning bg-white round p-4 text-start shadow">
            {{ form_start(form_profile) }}
            <div class="row">
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.first_name, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.last_name, {"attr": {"class" : "form-control"}}) }}
                </div>
            </div>
            <div class="form-group p-2 rounded bg-light mb-3">
                {{ form_row(form_profile.address, {"attr": {"class" : "form-control"}}) }}
            </div>
            <div class="row">
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.zipcode, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.city, {"attr": {"class" : "form-control"}}) }}
                </div>
            </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.email, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.phone, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.available) }}
                </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.user_cat) }}
                </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_profile.skills) }}
                </div>
                <button class="submit btn btn-success col-4 float-end mb-3">Save</button>
            {{ form_end(form_profile) }}
        </div>
    </div>
{% endblock %}