{% extends 'base.html.twig' %}

{% block title %}Sign in!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(formSignIn, {"attr": {"class" : "mx-auto my-5 w-50 border border-danger bg-white rounded p-4 d-flex flex-column justify-content-center"}}) }}
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in here</h1>
        <div class="form-group p-2 rounded bg-light mb-3">
            {{ form_row(formSignIn.email, {"attr": {"class" : "form-control"}}) }}
        </div>
        <div class="form-group p-2 rounded bg-light mb-3">
            {{ form_row(formSignIn.password, {"attr": {"class" : "form-control"}}) }}
        </div>
        <button class="btn btn-lg btn-secondary" type="submit">
            Sign in
        </button>
        {{ form_end(formSignIn) }}
    </div>
{% endblock %}
