{% extends 'base.html.twig' %}

{% block title %}Welcome in Portal project{% endblock %}

{% block content %}
    {% if not app.user %}
        <div class="mx-auto my-5 w-50 border border-primary rounded p-4 d-flex flex-column justify-content-center bg-white">
            <h2 class="text-center mb-4">Hi there, please log in or sign in to access the portal</h2>
            <a href="{{ path('app_login') }}" class="btn btn-info mb-3">
                Log in
            </a>
            <a href="{{ path('signin') }}" class="btn btn-danger">
                Sign in
            </a>
        </div>
    {% else %}
    <div class="container w-75 border border-warning rounded shadow bg-white p-5 mt-5 text-center">
        <h2>Page under construction</h2>
        <i class="bi bi-cone-striped"></i>
    </div>
    {% endif %}
{% endblock %}
