{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-4 border border-info rounded p-3 m-2">
            <h3>Profiles</h3>
            {% for collaborator in collaborators %}
                {% if (collaborator.profile) %}
                    <div class="bg-light rounded p-3 m-2">
                        {% if (collaborator.profile.userCat == 'Candidate') %}
                            <p class="text-danger">Candidate</p>
                        {% elseif (collaborator.profile.userCat == 'Collaborator') %}
                            <p class="text-success">Collaborator</p>
                        {% else %}
                            <p class="text-warning">External Collaborator</p>
                        {% endif %}
                        <h4 class="text-info">
                            {{ collaborator.profile.firstName }}
                            {{ collaborator.profile.lastName }}
                        </h4>
                        <div>{{ collaborator.profile.userCat }}</div>
                        <a class="text-danger" href="">Edit profile</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-7 border border-success rounded p-3 m-2">
            <div class="container w-75 border border-warning rounded shadow bg-white p-5 mt-5 text-center">
                <h2>The dashboard interface is under construction</h2>
                <i class="bi bi-cone-striped"></i>
            </div>
{#            {% for profile in profiles %}#}
{#            <div class="bg-info p-3 m-2">#}
{#                {{ profile }}#}
{#            </div>#}
{#            {% endfor %}#}
        </div>
    </div>
{% endblock %}