// Go get node_modules/bootstrap/sass/variables to know which variables can be overridden

$primary: #a9c1c1 !default;
$secondary:     #9fb2b4 !default;
$success: #99b38b !default;
$info: #699599 !default;
$warning:       #d7865a !default;
$danger: #a15d5a !default;
