<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light container-fluid">
        <div class="row">
            <nav class="navbar navbar-dark bg-dark col-3 vh-100 d-flex flex-column p-2 text-light">
                <div class="d-flex w-100 align-items-center justify-content-center my-4 mr-3 pb-4 mb-4 text-decoration-none border-bottom border-light">
                    <i class="bi bi-door-open-fill fs-1" style="color: #e3bdc0; margin-right: 1rem;"></i>
                    <div class="fs-1">Portal</div>
                </div>
                    {% if app.user %}
                        <p class="navbar-brand align-self-center text-white" href="#">Hello, <br> {{ app.user.username }} !</p>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item d-inline-flex mt-2">
                                <i class="bi bi-house-fill mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('home') }}">Home</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item d-flex mt-5">
                                <i class="bi bi-cone-striped mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('admin') }}">Admin</a>
                            </li>
                        {% endif %}
                        {% if app.user.profile %}
                            <li class="nav-item d-flex mt-2">
                                <i class="bi bi-person-circle mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('profile', {id: app.user.id}) }}">My profile</a>
                            </li>
                        {% endif %}
                            <li class="nav-item d-flex mt-2">
                                <i class="bi bi-pencil-square mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('new_profile', {id: app.user.id}) }}">Create/edit my profile</a>
                            </li>
                            {% if app.user.profile.history %}
                                <li class="nav-item d-flex mt-2">
                                    <i class="bi bi-box-seam mx-2"></i>
                                    <a class="text-decoration-none" href="{{ path('history', {id: app.user.profile.id}) }}">My history</a>
                                </li>
                            {% endif %}
                            <li class="nav-item d-flex mt-2">
                                <i class="bi bi-pen mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('new_history', {id: app.user.profile.id}) }}">Create/edit my history</a>
                            </li>
                            <li class="nav-item d-flex mt-5">
                                <i class="bi bi-box-arrow-right mx-2"></i>
                                <a class="text-decoration-none" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        </ul>
                    {% endif %}

                <div class="nav-item text-white fw-normal">
                    Made with 💔 by claire
                </div>
            </nav>
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
