{% extends 'home/index.html.twig' %}

{% block content %}
<div class="container w-75 border border-success rounded shadow bg-white mt-3">
    <div class="border border-success rounded mt-3 p-2">
        <h3>{{ history.position }} @ {{ history.company }}</h3>
        <p>in {{ history.place }}</p>
    </div>
    <div class="border border-success rounded mt-3 p-2">
        <h4>Details</h4>
        <p>{{ history.startDate|date }} {{ history.endDate|date }}</p>
        <p>{{ history.description }}</p>
        <p>{{ history.context }}</p>
    </div>
    <div class="border border-success rounded mt-3 p-2 mb-3">
        <h4>Techs I used</h4>
        <p>{{ history.technicalEnv }}</p>
    </div>
</div>
{% endblock %}

