{% extends 'base.html.twig' %}
{% form_theme form_history 'bootstrap_4_layout.html.twig' %}
{% block title %}New history{% endblock %}
{% block content %}
    <div class="container text-center w-75">
        <h2 class="p-4 m-4 bg-white border border-info rounded shadow">Please, complete your profile</h2>
        <button class="btn btn-info col-4 mb-3 shadow" href="{{ path('home') }}">I'll do it later</button>
        <div class="rounded border border-success bg-white round p-4 text-start shadow">
            {{ form_start(form_history) }}
            <div class="row">
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_history.position, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group col p-2 rounded bg-light mb-3">
                    {{ form_row(form_history.place, {"attr": {"class" : "form-control"}}) }}
                </div>
                <div class="form-group p-2 rounded bg-light mb-3">
                    {{ form_row(form_history.company) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col p-2 rounded bg-light mb-3">
                    <label>From...</label>
                    {{ form_widget(form_history.start_date) }}
                </div>
                <div class="form-group col p-2 rounded bg-light mb-3">
                    <label>...to...</label>
                    {{ form_widget(form_history.end_date) }}
                </div>
            </div>
            <div class="form-group p-2 rounded bg-light mb-3">
                {{ form_row(form_history.description, {"attr": {"class" : "form-control"}}) }}
            </div>
            <div class="form-group p-2 rounded bg-light mb-3">
                {{ form_row(form_history.technical_env, {"attr": {"class" : "form-control"}}) }}
            </div>
            <div class="form-group p-2 rounded bg-light mb-3">
                {{ form_row(form_history.context, {"attr": {"class" : "form-control"}}) }}
            </div>
            <button class="submit btn btn-success col-4 float-end mb-3">Save</button>
            {{ form_end(form_history) }}
        </div>
    </div>
{% endblock %}